<ion-header>
  <ion-navbar>
    <ion-title>
      stopwatch
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <div class="digit">
    <span class="label label-default">{{timer.minutes | twoDigit}}</span> :
    <span class="label label-default">{{timer.secondes | twoDigit}}</span>
  </div>
</ion-content>

<ion-footer text-center>
  <div class="action">
    <button class="btn btn-danger btn-lg" 
      *ngIf="state.backward" (click)="backward()">Reset</button>            
    <button class="btn btn-danger btn-lg" 
      *ngIf="state.stop" (click)="stop()">Stop</button>
    <button class="btn btn-primary btn-lg" 
      *ngIf="state.play" (click)="play()">{{btnPlay}}</button>
  </div>
</ion-footer>